<div class="topic">
  <div class="infos">
    <h1 class="title"><%= link_to(post.title, post_path(post)) %></h1>

    <div class="body">
      <%=raw post.body_html %>
    </div>
    <%= render :partial => 'posts/post_meta', :locals => {:post => post} %>
  <div>
</div>
