
.topics .topic .title a:link,
.topics .topic .title a:visited,
.node_topics .title a:link,
.node_topics .title a:visited {color:#2c64d7; text-decoration: none;}
.topics .topic .title a:hover,
.node_topics .title a:hover { text-decoration: underline; }

.sidebar p { margin-bottom:8px;}

.topics {
   .topic {
      .avatar_large { width:64px; }
      .avatar { width:56px; margin-left:10px; }
      .infos { text-align:left;
               .info { color:#999; margin-bottom:2px; }
               .info ul li { display: inline;}
             }
               .info ul li { display: inline; 
               }
               .info ul li:after
                 {
                 content: " | ";
                 }

               .info ul li:last-child:after
                  {
                 content: "";
                  }

      .replies {
         width:70px; margin-right:10px; text-align:right; vertical-align:middle;
         a.count,a.count:visited { line-height: 12px; font-weight: bold; color: white;
           background-color: #1c7fdb; display: inline-block;
           padding: 2px 10px 2px 10px;
           -moz-border-radius: 12px; -webkit-border-radius: 12px;
           margin: 18px 12px 0px 0px; text-decoration: none;
         }
         a.count:hover { color:write; background-color:#1F8AEE; }
         a.state_true:link,a.state_true:visited { background:#DDD; }
         a.state_true:hover { background:#1dc115;}
      }
   }
   .body {
       margin-bottom:10px; line-height:160%; font-size:14px; margin-top:8px; word-wrap: break-word;
       p { margin-bottom:10px; }
       img { max-width:690px;}
   }
   .tools { text-align:right; height:16px; overflow:hidden;}
   .topic_line {border-bottom:1px solid #DDD; padding:10px 0; margin:0 -10px; vertical-align:top; }
   
   tr.topic td.replies { text-align:right; width:50px; font-size:14px; color:green;font-weight:bold; }
}


#topic_show {
  h1 { font-size:20px; color:#333; margin-top:6px; text-align: left; line-height:100%;margin-bottom:8px;}
  .infos {
    border-bottom:1px solid #ddd;
    padding-bottom:6px; margin-bottom:8px;
   }
}

.more { padding:8px; padding-bottom:0; font-size:14px; text-align:right; }

/* topics list in node page */

.node_topics {
  margin-bottom: 16px;
  tr td {
    padding: 8px; }
  tr.head td {
    padding-top: 14px;
    color: #CCC;
    font-weight: bold;
    font-size: 12px; }
  tr.topic td.title {
    font-size: 14px;
    font-weight: bold; }
  tr.topic td.author {
      width: 80px; }
  tr.topic td.author a {
    color: #666;
    font-weight: bold; }
}

.no_result { margin-bottom:20px; text-align:center; }

#node_info {
  margin:0 -10px; padding:0 10px; border-bottom:1px solid #ddd;
  h1 { text-align:right; font-size:15px; }
  h2 { line-height:100%; display:inline; font-size:16px; margin-right:10px;}
  .desc { color:#999; }
  .feed {
    float: right;
    .icon { margin-bottom: -3px; }
    a {
      width: auto;
      padding-left: 18px;
      color: #B94E22;
      &:hover {
        text-decoration: none;
        color: #333;
      }
    }
  }
}

#replies {}
#replies .total { padding-bottom:6px; color:#999; }
#replies .reply { border-top:1px solid #DDD; padding:8px 10px; margin:0 -10px;}
#replies .reply.light { background:#F7F2FC;}
#replies .reply .face { padding-right:8px; width:48px; margin-left:0; }
#replies .reply .infos { padding-left:58px; }
#replies .reply .info { margin-top:4px; color:#999;height:20px;}
#replies .reply .info a:link,
#replies .reply .info a:visited { color:#999; text-decoration: underline;}
#replies .reply .info .name { float:left; }
#replies .reply .info .time { float:right; text-align:right; }
#replies .reply .info a.reply_link img { vertical-align:middle;}
#replies .reply .body { line-height:180%; font-size:14px; text-overflow: ellipsis; word-wrap: break-word; }
#replies .reply .body img { max-width:622px;}

#reply.form textarea { width:420px; }
#reply.form label { width:65px; }
.edit_tools { text-align:left; margin-bottom:2px }

.totals ul li { line-height:150%;}

#topic_new_tip li { margin-bottom:6px;}

.body a.at_floor { color:#376B43; }
.body a.at_user { }

#topics_recent {
  h2 {
    margin:0 -10px; padding:0 10px;
    font-size:14px; color:#999; line-height:100%;
    border-bottom:1px solid #ddd; padding-bottom:8px;
  }
  .node {
    margin-right:6px;
    a { color:#333; background:#eee; -webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px; padding:3px;font-size:11px; }
  }
  .info { font-size:12px; color:#999;
    margin-left:6px;
    a { color:#999; text-decoration: underline;}
  }
  ul {
    margin:0; padding:0;
    li {
      margin:0 -10px; padding:6px 10px;
      list-style:none; border-bottom:1px dashed #ddd;
    }
  }
  .more { }
}

#reply_form {
  #new_comment label{margin-left:6px;
  }
}

.sidebar {
  .hot_nodes {
    ul {
      margin: 0;
      list-style: none;
      li {
        display: inline;
        margin: 0;
        padding: 0;
        a {
          display: inline-block;
          margin-right: 3px;
          margin-bottom: 6px;
          padding: 2px 10px;
          color: #778087;
          text-decoration: none;
          background-color: #f5f5f5;
          -moz-border-radius: 3px;
          -webkit-border-radius: 3px;
          border-radius: 3px;
          &:hover {
            color: white;
            background-color: #99a;
          }
        }
      }
    }
  }
  .suggest_topics {
    ul {
      li {
        line-height:130%;
        a {
          color:#AA2D19;
          font-size:12px;
        }
      }
    }
  }
}

#preview {
  /* copied from twitter bootstrap */
  margin-top:0px;
  border: 1px solid #ccc;
  padding:10px;
  min-height:400px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  #reply & {
    width: 568px;
    min-height:72px;
  }
}

/* CODERAY */
.CodeRay {
  background-color: #f8f8f8;
  border: 1px solid silver;
  font-family: 'Courier New', 'Terminal', monospace;
  color: #100;
  margin-bottom: 1em;
}
.CodeRay pre { margin: 0px; font-size: 12px }

div.CodeRay { }

span.CodeRay { white-space: pre; border: 0px; padding: 2px }

table.CodeRay { border-collapse: collapse; width: 100%; padding: 2px }
table.CodeRay td { padding: 2px 4px; vertical-align: top }

.CodeRay .line_numbers, .CodeRay .no {
  background-color: #eaeaea;
  color: gray;
  text-align: right;
}
.CodeRay .line_numbers tt { font-weight: bold }
.CodeRay .no { padding: 0px 4px }
.CodeRay .code { width: 100% }

ol.CodeRay { font-size: 10pt }
ol.CodeRay li { white-space: pre }

.CodeRay .code pre { overflow: auto }
.af { color:#00C }
.an { color:#007 }
.av { color:#700 }
.aw { color:#C00 }
.bi { color:#509; font-weight:bold }
.c { color:#888 }

.ch { color:#04D }
.ch .k { color:#04D }
.ch .dl { color:#039 }

.cl { color:#B06; font-weight:bold }
.co { color:#036; font-weight:bold }
.cr { color:#0A0 }
.cv { color:#369 }
.df { color:#099; font-weight:bold }
.di { color:#088; font-weight:bold }
.dl { color:black }
.do { color:#970 }
.ds { color:#D42; font-weight:bold }
.e { color:#666; font-weight:bold }
.en { color:#800; font-weight:bold }
.er { color:#F00; background-color:#FAA }
.ex { color:#F00; font-weight:bold }
.fl { color:#60E; font-weight:bold }
.fu { color:#06B; font-weight:bold }
.gv { color:#d70; font-weight:bold }
.hx { color:#058; font-weight:bold }
.i { color:#00D; font-weight:bold }
.ic { color:#B44; font-weight:bold }

.il { background: #eee }
.il .il { background: #ddd }
.il .il .il { background: #ccc }
.il .dl { font-weight: bold ! important; color: #888 ! important }

.in { color:#B2B; font-weight:bold }
.iv { color:#33B }
.la { color:#970; font-weight:bold }
.lv { color:#963 }
.oc { color:#40E; font-weight:bold }
.on { color:#000; font-weight:bold }
.op { }
.pc { color:#038; font-weight:bold }
.pd { color:#369; font-weight:bold }
.pp { color:#579 }
.pt { color:#339; font-weight:bold }
.r { color:#080; font-weight:bold }

.rx { background-color:#fff0ff }
.rx .k { color:#808 }
.rx .dl { color:#404 }
.rx .mod { color:#C2C }
.rx .fu { color:#404; font-weight: bold }

.s { background-color:#fff0f0 }
.s .s { background-color:#ffe0e0 }
.s .s .s { background-color:#ffd0d0 }
.s .k { color:#D20 }
.s .dl { color:#710 }

.sh { background-color:#f0fff0 }
.sh .k { color:#2B2 }
.sh .dl { color:#161 }

.sy { color:#A60 }
.sy .k { color:#A60 }
.sy .dl { color:#630 }

.ta { color:#070 }
.tf { color:#070; font-weight:bold }
.ts { color:#D70; font-weight:bold }
.ty { color:#339; font-weight:bold }
.v { color:#036 }
.xt { color:#444 }

